{% extends "base.html" %}
{% block content %}

<form action="/teams/{{teams.id}}" method="post">
  <div>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" value="{{results.name}}" required>
  </div>

  <div>
    <label for="manager">Manager:</label>
    <input type="text" id="manager" name="manager" value="{{results.manager}}" required autofocus>
  </div>

  <div>
    <label for="stadium">Stadium:</label>
    <input type="text" id="stadium" name="stadium" value="{{results.stadium}}" required autofocus>
  </div>

  <div>
    <label for="founded">Founded:</label>
    <input type="text" id="founded" name="founded" value="{{results.founded}}" required autofocus>
     
    </select>
  </div>

  <button type="submit">Update teams</button>

</form>

{% endblock %}
