<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>League of Nations</title>
</head>
<body>
  <header>
    <nav>
      <ul class="menu">
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('teams.teams') }}">Teams</a></li>
        <li><a href="{{ url_for('results.results') }}">Results</a></li>
      </ul>
    </nav>
  </header>
  <H1 class="TT"> League of Nations </H1> 
  
    {% block content %}
    {% endblock %}
  </div>

  {%block home%}
  {% endblock %}
</body>
</html>
