{% extends "base.html" %}
{% block home %}
<section id="home-image">
    <h1>League Table</h1>
<table>
    <thread>
        <tr>
            <th>Team</th>
            <th>Played</th>
            <th>Won</th>
            <th>Drawn</th>
            <th>Lost</th>
            <th>Points</th>
        </tr>

</thread>
<tbody>
    <tr>
        <td>Scotland</td>
        <td>2</td>
        <td>2</td>
        <td>0</td>
        <td>0</td>
        <td>6</td>
    </tr>
    <tr>
        <td>England</td>
        <td>2</td>
        <td>1</td>
        <td>0</td>
        <td>1</td>
        <td>3</td>
    </tr>
    <tr>
        <td>Wales</td>
        <td>2</td>
        <td>0</td>
        <td>2</td>
        <td>0</td>
        <td>0</td>
    </tr>
</tbody>
</table>
</section>

<h1>Results Table</h1>
<table>
<tr>
    <th>Match</th>
    <th>Result</th>
</tr>
<tr>
    <td>Scotland vs England</td>
    <td class="win">4-1</td>
</tr>
<tr>
    <td>Wales vs Scotland</td>
    <td class="win">2-3</td>
</tr>
<tr>
    <td>England vs Wales</td>
    <td class="lose">2-1</td>
</tr>
</table>

</body>
{% endblock %}