{% extends "base.html" %}
{% block home %}
<section id="home-image">
<table>
    <thread>
        <tr>
            <th>Team</th>
            <th>Played</th>
            <th>Won</th>
            <th>Drawn</th>
            <th>Lost</th>
            <th>Points</th>
        </tr>

</thread>
<tbody>
    <tr>
        <td>Scotland</td>
        <td>2</td>
        <td>2</td>
        <td>0</td>
        <td>0</td>
        <td>6</td>
    </tr>
    <tr>
        <td>England</td>
        <td>2</td>
        <td>1</td>
        <td>0</td>
        <td>1</td>
        <td>3</td>
    </tr>
    <tr>
        <td>Wales</td>
        <td>2</td>
        <td>0</td>
        <td>2</td>
        <td>0</td>
        <td>0</td>
    </tr>
</tbody>
</table>
</section>
{% endblock %}

        